<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifica Commento</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body class="comment-form-page">

    <div th:replace="~{fragments :: navbar}"></div>

    <div class="form-container">
        <h2>Modifica il tuo commento</h2>
        
        <form th:action="@{/user/commento/{id}/edit(id=${commento.id})}" method="post">
            <textarea name="testo" required th:text="${commento.testo}"></textarea>
            
            <button type="submit" class="btn btn-edit">Salva Modifiche</button>
        </form>
        
        <a th:href="@{/partita/{id}(id=${commento.partita.id})}" class="back-link">Annulla e torna alla partita</a>
    </div>

</body>
</html>