<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elenco Tornei (React)</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body class="home-page">
    
    <div th:replace="~{fragments :: navbar}"></div>

    <div class="hero">
        <h1>Tornei Disponibili</h1>
        <p>Esplora i tornei attivi.</p>
    </div>

    <div class="container home-intro tournaments-list" style="text-align: center;">
        <h2 class="home-section-title" style="border: none;">Lista Tornei</h2>

        <div id="react-app-root">Caricamento tornei...</div>

        <a th:href="@{/}" class="back-link">← Torna alla Home Page</a>
    </div>

    <script type="text/babel" th:src="@{/js/tornei-react.js}"></script>

</body>
</html>